.App {
	min-height: 100vh;
	color: #d9ad91;
	background-image: url('images/background.png');
	background-position: center;
	background-size: cover;
}

.App-link {
	color: #725a56;
}

.Top {
	background-color: #3d1a0c;
}

.SiteName {
	margin-left: 3rem;
	padding-top: 1.5rem;
}

.Nav {
	padding-top: 1rem;
	justify-content: center;
}

.NavButton {
	height: 4rem;
	width: 10rem;
	background-color: #3d1a0c !important;
	border-color: #d9ad91 !important;
	border-radius: 1rem !important;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.NavLink {
	color: #d9ad91 !important;
	font-size: 1.5rem !important;
}

.LoginButton {
	height: 4rem;
	width: 10rem;
	background-color: #d9ad91 !important;
	border-color: #3d1a0c !important;
	border-radius: 1rem !important;
	margin-top: 1rem;
}

.LoginButton>h4 {
	margin-bottom: 0rem;
	color: #3d1a0c;
}

.Body {
	background-color: #3d1a0c;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding-top: 1.4rem;
	padding-bottom: 5.6rem;
}

.Footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3d1a0c;
	text-align: center;
	padding-top: 1.4rem;
}

.Footer a {
	color: #d9ad91;
}

.Footer a:hover {
	color: #725a56;
}

.Card {
	width: 20rem;
	height: 30rem;
	color: #3d1a0c;
	border-radius: 0.5rem !important;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

.CardImg {
	width: 20rem;
	height: 20rem;
	overflow: hidden;
}

.CardBody {
	width: 20rem;
	background-color: #d9ad91;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	/*
	se si vuole il body della carta centrato
	text-align: center !important;
	*/
}

.CardTitle {
	height: 1.5rem;
	overflow: hidden;
}

.CardText {
	height: 6rem;
	overflow: hidden;
}

.CardButton {
	height: 2.5rem;
	background-color: #3d1a0c !important;
	border: #3d1a0c !important;
}